/*!
 *  QQ custom retract message generator
 *
 *  Custom CSS
 *
 *  by CRH380A-2722
 */

.footer {
    margin: 30px, 0px, 20px, 0px;
    text-align: center;
    color: #999;
}

body {
    background-color: #ebebeb;
}
